<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amjsecurityfire.amjsecurity">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>



    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPAMJ"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Menu Principal Activity -->
        <activity
            android:name="com.amjsecurityfire.amjsecurity.MenuPrincipalActivity"
            android:exported="true" />

        <!-- Tela de Recuperação de Senha -->
        <activity
            android:name="com.amjsecurityfire.amjsecurity.EsqueciSenhaActivity"
            android:exported="false" />

        <!-- Tela de Login (Principal) -->
        <activity
            android:name="com.amjsecurityfire.amjsecurity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.APPAMJ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.amjsecurityfire.amjsecurity.RegistroActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.AdicionarEscopoActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.AguardandoAprovacaoActivity"/>
        <activity android:name="com.amjsecurityfire.amjsecurity.EscoposPendentesActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.EscoposConcluidosActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.PerfilActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.EditarPerfilActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.DetalhesEscopoActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.EditarEscopoActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.HistoricosEscoposActivity" />
        <activity android:name="com.amjsecurityfire.amjsecurity.EscoposExcluidosActivity" />

    </application>

</manifest>
